* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background-100: #0074ba;
    --color-background: #033e63;
    --color-text-destak: #ffff00;
}

@media (min-width:920px) {
    .header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: radial-gradient(#033e63, #0074ba);
    }
    .header .titulo {
        width: 40%;
        height: auto;
        color: white;
        margin: 20px auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
    }
    .destaque {
        color: yellow;
    }
    .container-header {
        width: 90%;
        height: 80vh;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .container-header .image-central {
        width: 50% !important;
        height: 80%;
        margin: 10px auto;
        display: flex;
        align-items: center;
        /* border: 1px solid black; */
    }
    .header .image-central img {
        max-width: 80%;
        height: 100%;
        margin: 0px auto;
    }
    .footer-header {
        width: 40%;
        height: 70vh;
        display: flex;
        margin: 5px auto;
        flex-direction: column;
        justify-content: center;
    }
    .footer-header .vantagem {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .footer-header .vantagem .vantagem-item {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        margin: 5px 0;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
    }
    .footer-header .vantagem #icon-check {
        color: #ffff00;
        font-size: 20px;
    }
    .header .subtitle {
        width: 100%;
        height: auto;
        margin: 10px auto;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        color: #ffffff;
    }
    .header .desc {
        width: 80%;
        height: 30px;
        margin: 0px auto;
    }
    .header .desc img {
        width: 80%;
    }
    .btn-area {
        width: 100%;
        height: auto;
        margin: 5px auto;
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .btn-area button {
        padding: 10px;
        border: none;
        margin: auto;
        border-radius: 10px;
        border: 1px solid yellow;
        background-color: transparent;
        color: yellow;
        font-weight: 700;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-around;
    }
    .btn-area button:hover {
        color: #033e63;
        background-color: yellow;
    }
    .section-reject {
        width: 100%;
        height: 100vh;
        display: flex;
        margin: 30px auto;
        flex-direction: column;
    }
    .section-reject .title-reject {
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-reject .title-reject h1 {
        width: 70%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #033e63;
    }
    .section-reject .title-reject .subtitle-reject {
        width: 80%;
        font-size: 1rem;
        color: gray;
        font-style: italic;
        text-align: center;
    }
    .section-reject .reject-desc {
        width: 90%;
        height: 10vh;
        margin: 5px auto;
        font-size: 1rem;
        color: gray;
        font-style: italic;
        text-align: center;
    }
    .problems-area {
        width: 90%;
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto;
        gap: 10px;
    }
    .problems-area .problem {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
    }
    .problems-area .problem:hover {
        background-color: #ffff00;
        color: #ffffff !important;
    }
    .problems-area .problem .imagep {
        width: 200px;
        margin: 10px auto;
        height: 200px;
        border-radius: 200px;
    }
    .problems-area .problem .imagep img {
        width: 100%;
    }
    .problems-area .problem .text {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        color: #0074ba;
        font-weight: bold;
    }
}

@media(max-width:920px) {
    .header {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: radial-gradient(#033e63, #0074ba);
    }
    .header .titulo {
        width: 80%;
        height: auto;
        color: white;
        margin: 10px auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
    }
    .header .container-header {
        width: 90%;
        height: 80vh;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
    }
    .destaque {
        color: yellow;
    }
    .header .desc {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .header .desc img {
        width: 100%;
    }
    .header .image-central {
        width: 70% !important;
        height: auto;
        margin: 10px auto;
        display: flex;
        align-items: center;
    }
    .header .image-central img {
        max-width: 70%;
        height: auto;
        margin: 0px auto;
    }
    .footer-header {
        width: 70%;
        height: auto;
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .footer-header .vantagem {
        display: none;
    }
    .header .subtitle {
        width: 80%;
        height: auto;
        margin: 10px auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        color: #ffffff;
    }
    .header .btn-area {
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .btn-area button {
        padding: 5px;
        border: none;
        border-radius: 10px;
        border: 1px solid yellow;
        background-color: transparent;
        color: yellow;
        font-weight: 700;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-around;
    }
    .header .btn-area button:hover {
        color: #033e63;
        background-color: yellow;
    }
    /*
     *rejeitados
    */
    .section-reject {
        width: 100%;
        height: auto;
        display: flex;
        margin: 30px auto;
        flex-direction: column;
    }
    .section-reject .title-reject {
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-reject .title-reject h1 {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #033e63;
    }
    .section-reject .title-reject .subtitle-reject {
        width: 100%;
        font-size: 1rem;
        color: gray;
        font-style: italic;
        text-align: justify;
    }
    .section-reject .reject-desc {
        width: 90%;
        height: 10vh;
        margin: 5px auto;
        font-size: .8rem;
        color: gray;
        font-style: italic;
        text-align: center;
    }
    .problems-area {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        gap: 10px;
    }
    .problems-area .problem {
        width: 100%;
        height: auto;
        border-radius: 20px;
        cursor: pointer;
    }
    .problems-area .problem:hover {
        background-color: #ffff00;
        color: #ffffff !important;
    }
    .problems-area .problem .imagep {
        width: 200px;
        margin: 10px auto;
        height: 200px;
        border-radius: 200px;
        /* border: 1px solid black; */
    }
    .problems-area .problem .imagep img {
        width: 100%;
    }
    .problems-area .problem .text {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        color: #0074ba;
        font-weight: bold;
    }
}